<ion-header class="ion-no-border">
  <div>
    <div id="ovalo">
      <ion-img src="assets/page-muro/AVATAR.png"></ion-img>
    </div>
    <div id="cuadrado"></div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/search-results" class="botonHeader"></ion-back-button>
      </ion-buttons>
      <ion-title></ion-title>
      <ion-buttons slot="end">
        <ion-tab-button>
          <ion-icon name="home" class="botonHeader" (click)="cambiarPageInicio()" id="iconHome"></ion-icon>
        </ion-tab-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<!-- <app-header titulo="muro" ruta="/search-results" enableIonMenu="false"></app-header> -->
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
      <ion-row>
        <ion-label id="nameDifunto">{{difunto.nombre}} {{difunto.apellido}}</ion-label>
        <ion-img src="assets/page-muro/GUARDAR.png" alt="" id="pin"></ion-img>
      </ion-row>
      <ion-row>
          <ion-col size="5.8">
            <ion-row>
              <ion-img src="assets/page-muro/NACIMIENTO.png"></ion-img>
              <ion-label id="labelFecha">{{difunto.fecha_nacimiento | date:'dd/MM/yyyy'}}</ion-label>
            </ion-row>
          </ion-col>
          <ion-col size="0.4">
            <div>
              -
            </div>
          </ion-col>
          <ion-col size="5.8">
            <ion-row>
              <ion-img src="assets/page-muro/DEFUNCION.png"></ion-img>
              <ion-label id="labelFecha">{{difunto.fecha_difuncion | date:'dd/MM/yyyy'}}</ion-label>
            </ion-row>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5.8"  (click)="cargar_mapa()">
          <ion-row>
            <ion-img id="imgMapa" src="assets/page-muro/POINTER.png" alt=""></ion-img>
            <ion-label>Mapa</ion-label>
          </ion-row>
        </ion-col>
        <ion-col size="0.4">
          <div class="vl"></div>
        </ion-col>
        <ion-col size="5.8">
          <ion-row>
            <ion-img id="imgRose" src="assets/page-muro/ROSAS.png" alt="" (click)="addRose()"></ion-img>
            <ion-label (click)="modalHistorialRosas()">{{difunto.num_rosas}} Rosas</ion-label>
          </ion-row>
        </ion-col>
        <hr>
      </ion-row>
      
  </ion-grid>
  
  <app-content-publicaciones [difunto_datos]="difunto" >

  </app-content-publicaciones>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
    <ion-fab-button id="colorPlus" (click)="validateSesionMuro()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="modalTexto()">
        <ion-icon name="text"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="modalImagen()">
        <ion-icon name="image"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="modalAudio()" >
        <ion-icon name="musical-note"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="modalVideo()">
        <ion-icon name="videocam"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
