#detalle-difunto{
    border-style: groove
}

.altura-row{
    padding-top: 20px;
    justify-content: center;
}
.icon_align{
    text-align: center;
    padding: 8px;
}

#avatar_difunto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}