<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Publicar Imagen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="mensajeImagenForm" (ngSubmit)="submit()">
    <div id="contenido">
      <div id="contentDatos">
        <ion-item lines="none" id="itemArea">
          <ion-textarea
            placeholder="Escriba aquí su mensaje..."
            rows="14"
            cols="20"
            formControlName="mensaje"
          >
          </ion-textarea>
        </ion-item>
        <div
          *ngIf="
            mensajeImagenForm.controls['mensaje'].invalid &&
            mensajeImagenForm.controls['mensaje'].touched
          "
        >
          <span
            class="advertencia"
            *ngIf="mensajeImagenForm.controls['mensaje'].errors.required"
          >
            <small>Mensaje es requerido!</small>
          </span>
          <span
            class="advertencia"
            *ngIf="
              mensajeImagenForm.controls['mensaje'].errors.minlength ||
              mensajeImagenForm.controls['mensaje'].errors.maxlength
            "
          >
            <small>Mensaje debe tener entre 10 y 200 carácteres</small>
          </span>
        </div>
        <ion-list>
          <ion-item *ngFor="let img of imagen; index as pos" text-wrap>
            <ion-thumbnail slot="start">
              <ion-img [src]="img.path"></ion-img>
            </ion-thumbnail>
            <ion-label>{{ img.nombre }}</ion-label>
            <ion-button slot="end" fill="clear" (click)="eliminarImagen()">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
          <label for="">{{ base }}</label>
        </ion-list>
        <ion-list lines="none" *ngIf="this.validarImagen">
          <img
            id="img_foto"
            src="assets/page-muro/modal/IMAGEN2.png"
            (click)="seleccionarImagen()"
          />
        </ion-list>
        <small *ngIf="imagen.length == 0" text-center class="advertencia"
          >Seleccione alguna Imagen</small
        >
      </div>
      <div id="contentAceptar">
        <ion-button
          id="publicarButton"
          type="submit"
          expand="full"
          [disabled]="!mensajeImagenForm.valid"
        >
          Publicar
          <ion-icon slot="end" name="send"></ion-icon>
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>
