#fondo{
    background-color: rgba($color: #EFEFEF, $alpha: 0.3);
    width: 100%;
    height: 100%;
}

.alinear_fecha{
    text-align: right;
}

video{
    width: 100%;
    height: 200px;
}

audio{
    width: 100%;
}
ion-card-title{
    font-size: 150%;
}
// ion-img{
//     width: 100%;
//     height: 200px;
// }