ion-header{
    height: 20%;
    ion-toolbar{
        ion-icon{
            font-size: 25px;
            margin-right: 10px;
        }
    }
    div{
       width: 100%;
       height: 80%; 
       ion-grid{
           #colRose ion-img{
                width: 25%;
                display: block;
                margin-left: auto;
                margin-right: auto;
           }
           #colNum{
                font-size: 0.95em;
                font-weight: 700;
                display: flex;
                flex-direction: column;
                justify-content: center;
           }
       }
       hr{
            height: 1.2px;
            width: 90%;
            background-color:#000000;
            border-color: #000000;
        }
    }
    
}

ion-content{
    // --padding-top: 10%;
    ion-item{
        padding-bottom: 4%;
        padding-right: 4%;
        --border-color: #c2c3c9;
        ion-label{
            font-size: 0.75em;
            font-weight: 600;
            padding: 10px 0 10px;
        }
        small {
            font-size: 65%;
            color: #87868a;
        }
    }
}