<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Actualizar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form
    [formGroup]="registrationFormGroup"
    (ngSubmit)="onSubmitRegisterDetails()"
  >
    <div id="contenido">
      <div id="contentDatos">
        <div id="cuadro">
          <ion-avatar>
            <ion-img [src]="imagePerfil" (click)="capturarFoto()"></ion-img>
          </ion-avatar>
        </div>
        <div id="nonePublicacion">
          <p>Campos con <b>*</b> son obligatorios llenar</p>
        </div>
        <ion-item lines="none">
          <label>*</label>
          <ion-input
            type="text"
            placeholder="Nombres"
            formControlName="nombres"
            required
          ></ion-input>
        </ion-item>
        <p
          class="text_danger"
          *ngIf="registrationFormGroup.controls.nombres.errors?.required && registrationFormGroup.controls.nombres.touched"
        >
          Este campo es obligatorio
        </p>
        <ion-item lines="none">
          <label>*</label>
          <ion-input
            type="text"
            placeholder="Apellidos"
            formControlName="apellidos"
            required
          ></ion-input>
        </ion-item>
        <p
          class="text_danger"
          *ngIf="registrationFormGroup.controls.apellidos.errors?.required && registrationFormGroup.controls.apellidos.touched"
        >
          Este campo es obligatorio
        </p>
        <ion-item lines="none" *ngIf="!isFacebook">
          <label>*</label>
          <ion-input
            readonly
            type="text"
            placeholder="username"
            formControlName="username"
            required
            [ngClass]="{ 'is-invalid': submitted && registrationFormGroup.controls.username.errors }"
          ></ion-input>
        </ion-item>
        <div
          *ngIf=" registrationFormGroup.controls.username.invalid && (registrationFormGroup.controls.username.dirty || registrationFormGroup.controls.username.touched)"
          class=""
        >
          <div
            *ngIf="registrationFormGroup.controls.username.errors.required "
            class="text_danger"
          >
            Ingresar un nombre de usuario
          </div>
          <div
            *ngIf="registrationFormGroup.controls.username.errors.usernameMatch"
            class="text_danger"
          >
            Nombre de usuario ya registrado
          </div>
        </div>
        <ion-item lines="none">
          <label>*</label>
          <ion-input
            type="email"
            placeholder="correo@email.com"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && registrationFormGroup.controls.email.errors }"
            required
          ></ion-input>
        </ion-item>
        <div
          *ngIf=" registrationFormGroup.controls.email.invalid && (registrationFormGroup.controls.email.dirty || registrationFormGroup.controls.email.touched ) "
          class="text_danger"
        >
          <div
            *ngIf="registrationFormGroup.controls.email.errors.required"
            class="text_danger"
          >
            Ingresar un correo electrónico
          </div>
          <div
            *ngIf="registrationFormGroup.controls.email.errors?.pattern"
            class="text_danger"
          >
            Ingresar un correo electrónico válido
          </div>
          <div
            *ngIf="registrationFormGroup.controls.email.errors.correoMatch"
            class="text_danger"
          >
            Este correo ya ha sido registrado
          </div>
        </div>
        <ion-item lines="none">
          <ion-label>Género</ion-label>
          <ion-select
            placeholder="escoja uno"
            interface="popover"
            formControlName="genero"
          >
            <ion-select-option value="femenino">Femenino</ion-select-option>
            <ion-select-option value="masculino">Masculino</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <label></label>
          <ion-input
            type="texto"
            placeholder="dirección"
            formControlName="direccion"
          ></ion-input>
        </ion-item>
        <div
          *ngIf=" registrationFormGroup.controls.direccion.invalid && (registrationFormGroup.controls.direccion.dirty || registrationFormGroup.controls.direccion.touched ) "
          class="text_danger"
        >
          <div
            *ngIf="registrationFormGroup.controls.direccion.errors.minlength"
          >
            El campo debe ser aún largo
          </div>
        </div>

        <ion-item lines="none">
          <label></label>
          <ion-input
            type="texto"
            placeholder="teléfono"
            formControlName="telefono"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="registrationFormGroup.controls['telefono'].invalid && (registrationFormGroup.controls['telefono'].dirty || registrationFormGroup.controls['telefono'].touched)"
        >
          <div
            class="text_danger"
            *ngIf="registrationFormGroup.controls['telefono'].errors.minlength || registrationFormGroup.controls['telefono'].errors.maxlength"
          >
            La longitud del campo debe ser 9 o 10
          </div>
          <div
            class="text_danger"
            *ngIf="registrationFormGroup.controls['telefono'].errors.pattern"
          >
            Ingrese un valor válido
          </div>
        </div>

        <div [formGroup]="passwordFormGroup" *ngIf="!isFacebook">
          <ion-item lines="none">
            <label></label>
            <ion-input
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Contraseña"
              formControlName="password"
            ></ion-input>
            <ion-icon
              class="eyeIcon"
              slot="end"
              [name]="passwordToggle"
              (click)="togglePassword()"
            ></ion-icon>
          </ion-item>
          <p
            class="text_danger"
            *ngIf="passwordFormGroup.controls.password.errors?.maxlength || passwordFormGroup.controls.password.errors?.minlength"
          >
            Contraseña debe tener mínimo 6 carácteres
          </p>
          <!-- <p class="text_danger"
            *ngIf="passwordFormGroup.controls.password.errors?.required && passwordFormGroup.controls.password.touched">
            La contraseña no es válida</p> -->
          <ion-item lines="none">
            <label></label>
            <ion-input
              [type]="showConfiPassword ? 'text' : 'password'"
              placeholder="Confirmar contraseña"
              formControlName="repeatPassword"
            ></ion-input>
            <ion-icon
              class="eyeIcon"
              slot="end"
              [name]="passwordConfiToggle"
              (click)="toggleConfiPassword()"
            ></ion-icon>
          </ion-item>
          <p
            class="text_danger"
            *ngIf="passwordFormGroup.controls.repeatPassword.errors?.maxlength || passwordFormGroup.controls.repeatPassword.errors?.minlength"
          >
            Contraseña debe tener mínimo 6 carácteres
          </p>
          <!-- <p class="text_danger"
              *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">
              La contraseña no es válida</p> -->
          <p
            class="text_danger"
            *ngIf="passwordFormGroup.errors?.doesMatchPassword"
          >
            Las contraseñas no coinciden.
          </p>
        </div>
      </div>
      <div id="contentAceptar">
        <ion-button
          id="registerButton"
          type="submit"
          expand="full"
          [disabled]="!registrationFormGroup.valid"
        >
          Aceptar
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>
