<ion-header class="ion-no-border">
  <div>
    <div id="ovalo">
      <img src="assets/LOGO.png" alt="" id="logoI" />
      <span><b>SOBRE NOSOTROS</b></span>
    </div>
    <div id="cuadrado"></div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" class="botonHeader"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="contenido">
    <div id="contentDatos">
      <div id="divImage">
        <img id="imgPaquete" src="{{url_image}}" alt="No disponible" />
      </div>
      <div id="dataInfo">
        <div id="divNombre">
          <span>{{nombre}}</span>
        </div>
        <div class="divDetalle">
          <ion-item lines="none">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <img
                    src="assets/nosotros/POINTER_VERDE.png"
                    id="iconPointer"
                    alt=""
                  />
                </ion-col>
                <ion-col size="10">
                  <span
                    >{{direccion}} <i (click)="openMap()">Ver en mapa</i></span
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item lines="none">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <img
                    src="assets/nosotros/TELEFONO.png"
                    class="iconDiseno"
                    alt=""
                  />
                </ion-col>
                <ion-col size="10">
                  <span>+593{{telefono}}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item lines="none">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <img
                    src="assets/nosotros/WEB.png"
                    class="iconDiseno"
                    alt=""
                  />
                </ion-col>
                <ion-col size="10">
                  <span><a href="{{linkPagina}}">{{linkPagina}}</a></span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item lines="none">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <img
                    src="assets/nosotros/CORREO.png"
                    class="iconDiseno"
                    alt=""
                  />
                </ion-col>
                <ion-col size="10">
                  <span>{{correo}}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
        <div id="divRedesSociales">
          <img
            src="assets/nosotros/FACEBOOK.png"
            alt=""
            id="iconFacebook"
            (click)="openFacebook()"
          />
          <img
            src="assets/nosotros/TWITTER.png"
            alt=""
            id="iconTwitter"
            (click)="openTwitter()"
          />
          <img
            src="assets/nosotros/INSTAGRAM.png"
            alt=""
            id="iconInstagram"
            (click)="openInstagram()"
          />
        </div>
      </div>
    </div>
  </div>
</ion-content>
