<ion-header class="ion-no-border">
  <div>
    <div id="ovalo">
    </div>
    <div id="cuadrado"></div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false" class="botonHeader"></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-uppercase">Camposanto</ion-title>
      <ion-buttons slot="end">
        <ion-tab-button>
          <ion-icon name="notifications" class="botonHeader"></ion-icon>
        </ion-tab-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<app-menu></app-menu>
<ion-content id="main">
  <ion-toolbar>
    <ion-grid class="center-grid">
      <ion-row>
        <ion-col>
          <ion-tab-button routerLink="/search">
            <ion-icon name="search-circle-outline" class="iconInicio"></ion-icon>
            <div>
              <ion-label class="labelInicio ion-text-uppercase">consultar difuntos</ion-label>
            </div>
          </ion-tab-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-tab-button>
            <ion-icon name="people-circle-outline" class="iconInicio"></ion-icon>
            <div>
              <ion-label class="labelInicio ion-text-uppercase">difuntos guardados</ion-label>
            </div>
            
          </ion-tab-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-toolbar>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="colorWhatsapp">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
