<ion-header>
  <ion-toolbar>
    <ion-title>¡Bienvenido a mapa virtual!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-toolbar>
    <ion-grid class="center-grid">
      <ion-row>
        <ion-col>
          <ion-tab-button routerLink="/search">
            <ion-icon name="search-circle-outline"></ion-icon>
            <ion-label>Consultar</ion-label>
          </ion-tab-button>
        </ion-col>
        <ion-col>
          <ion-tab-button>
            <ion-icon name="people-circle-outline"></ion-icon>
            <ion-label>Guardados</ion-label>
          </ion-tab-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-tab-button>
            <ion-icon name="file-tray-stacked-outline"></ion-icon>
            <ion-label>Sugerencias</ion-label>
          </ion-tab-button>
        </ion-col>
        <ion-col>
          <ion-tab-button>
            <ion-icon name="chatbubbles-outline"></ion-icon>
            <ion-label>Chat</ion-label>
          </ion-tab-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-tab-button>
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>Sobre nosotros</ion-label>
          </ion-tab-button>
        </ion-col>
        <ion-col>
          <ion-tab-button>
            <ion-icon
              name="map-outline"
              routerLink="/ubicacion-fallecido"
            ></ion-icon>
            <ion-label>Ubicación</ion-label>
          </ion-tab-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-tab-button (click)="cerrar()">
            <ion-icon name="close-circle-outline"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-tab-button>
        </ion-col>
        <ion-col>
          <ion-tab-button>
            <ion-icon name="card-outline" routerLink="/muro-difunto"></ion-icon>
            <ion-label>Muro</ion-label>
          </ion-tab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-content>
