ion-item{
    --background: #fcfcfc;
    --color: rgb(92, 89, 89);
}

ion-button{
    --background: #062f77;
}

p{
    --color: red;
}
ion-spinner {
    transform: scale(3);
}

ion-content {
    --padding-top: 50px;
}
.text-center{
    text-align: center;
}