<ion-menu side="start" menuId="menu_button" contentId="main">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-item lines="none" *ngIf="ocultar">
        <ion-avatar slot="start">
          <img [src]="imageProfile">
        </ion-avatar>
        <ion-label id="labelUser">{{first_name}} {{last_name}}</ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item lines="none" class="seleccionItem">Sugerencias</ion-item>
      <ion-item lines="none" class="seleccionItem">Acerca de Nosotros</ion-item>
      <ion-item lines="none" class="seleccionItem" (click)="goPerfil()" *ngIf="ocultar">Perfil</ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer class="ion-no-border">
    <hr>
    <label (click)="login()" *ngIf="!ocultar">
      <b>Iniciar Sesión</b>
    </label>
    <label id="labelCSesion" (click)="logoutSesion()" *ngIf="ocultar">
      <b>Cerrar Sesión</b>
    </label>
  </ion-footer>
</ion-menu>