<ion-menu side="start" menuId="menu_button" contentId="main">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/user.png">
        </ion-avatar>
        <ion-label id="labelUser">Usuario</ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item lines="none" class="seleccionItem">Sugerencias</ion-item>
      <ion-item lines="none" class="seleccionItem">Acerca de Nosotros</ion-item>
      <ion-item lines="none" class="seleccionItem" (click)="login()" *ngIf="!ocultarFooter"><b>Iniciar Sesión</b></ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer class="ion-no-border" *ngIf="ocultarFooter">
    <hr>
    <label id="labelCSesion" (click)="logoutSesion()">
      Cerrar Sesión
    </label>
  </ion-footer>
</ion-menu>