<ion-header>
  <ion-toolbar>
    <ion-title>Publicar Mensaje</ion-title>
    <ion-buttons slot="end">
      <ion-button (click) = "dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="mensajeTextoForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-textarea 
        placeholder="Escriba aquí su mensaje..."
        rows="6" cols="20"
        formControlName = "mensaje"
        >
      </ion-textarea>
    </ion-item>
    
    <div 
      *ngIf="mensajeTextoForm.controls['mensaje'].invalid && mensajeTextoForm.controls['mensaje'].touched">
        <span class="advertencia"  *ngIf="mensajeTextoForm.controls['mensaje'].errors.required">
        <small>Mensaje es requerido!</small>
        </span>
        <span class="advertencia"
          *ngIf="mensajeTextoForm.controls['mensaje'].errors.minlength || mensajeTextoForm.controls['mensaje'].errors.maxlength">
          <small>Mensaje debe tener entre 10 y 200 carácteres</small>
        </span>
    </div>
    <br />
    <ion-button  shape="block" type="submit" [disabled]="!mensajeTextoForm.valid">
      Publicar
      <ion-icon slot="end" name="send"></ion-icon>
    </ion-button>
  </form>
</ion-content>